body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    margin: 20px;
    background-color: aliceblue;
    padding: 20px;

}

.h1{
    color: black;
}
.PARA1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10PX;
    color: burlywood;
    text-align: center;
    background-color: black;
}
.PARA{
    color: aqua;
    text-align: center;
    background-color: rgb(21, 21, 27);
}

.PP{
    color: black;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(241, 119, 119);
}